@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.aside {
  display: none;

  @include FullHD {
    grid-area: aside;
    position: sticky;
    height: 200px;
    width: 50px;
    top: 336px;
    right: 0;
    background-color: #ffba31;
    border-radius: 30px;
    padding: 30px 10px;
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      border-bottom: solid 1px #242424;
      position: absolute;
      top: -18px;
      right: 4px;
      width: 18px;
      transform: rotate(90deg);
    }

    &:first-child:before {
      border-bottom: none;
    }
  }

  svg {
    transition: $transition-icon;

    &:hover {
      fill: $white;
    }
  }
}