@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container-job {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;

  @include desktop {
    padding: 20px 0;
  }
}

.ImageJob {
  height: 350px;
  border-radius: 7px;
  background: $white;
  box-shadow: 0 0 1.5rem 0 rgb(35 30 32 / 10%);
  transition: all ease-in-out .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;

  @include desktop {
    width: 380px;
    height: 350px;
  }

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  &_text {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: #ffba31;
    width: 60%;

    h2 {
      color: #fff;
    }
  }

  &_logo {
    width: 100%;

    img {
      border-radius: 7px 7px 0 0;
    }
  }
}