@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container-job {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}

.ImageJob {
  background-image: var(--img);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0.5vh;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  background: #20f;
  backdrop-filter: blur(20px);
}