@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
  margin-bottom: 49px;

  @include desktop {
    display: grid;
    grid-template-columns: .4fr 2fr .1fr;
    margin-bottom: inherit;
  }

  &_content {
    padding: 0;

    @include desktop {
      padding: 0 6px 0 311px;
    }

    @include large {
      padding: 0 10px 0 320px
    }

    @include FullHD {
      padding: 0 20px 0 30px;
    }
  }

  &_aside {
    padding-right: inherit;

    @include desktop {
      padding-right: 10px;
    }
  }
}