@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.title {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  span {
    border: 1px solid black;
    font-size: 5rem;
    padding: 20px 310px;
    font-weight: bold;
    text-transform: uppercase;
  }
}