@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.curriculum {
  padding: inherit;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 70px;
  }

  &_left {
    background-color: $white;
  }

  &_adress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    &--title {
      span {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        transform: rotate(-90deg);
        font-size: 1.5rem;
        letter-spacing: 15px;
        width: 50px;
        text-transform: uppercase;
        font-weight: bold;

      }
    }

    &--info {
      padding: 0 10px;
      position: relative;

      &:after {
        content: '';
        background-color: $secondary;
        width: 6px;
        height: 130px;
        position: absolute;
        top: -10px;
        left: -8px;
      }

      a {
        color: $primary;
        font-size: 1.3rem;
        text-decoration: underline $secondary;
        transition: $transition-icon;
        padding-bottom: 20px;

        &:hover {
          text-decoration: underline $primary;
        }
      }

      p {
        padding-bottom: 10px;
        font-size: 1.3rem;
      }
    }
  }

  &_img {
    img {
      filter: grayscale(100%);
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 50px;

    @include desktop {
      padding: 200px 50px;
    }

    h4 {
      font-weight: bold;
      font-size: 1.5rem;
    }

    p {
      font-size: 1.3rem;
      text-align: justify;
      padding: 20px 0;
    }

    h2 {
      font-family: 'Babylonica', cursive;
      font-size: 3rem;
    }

    span {
      font-size: 1.3rem;
      padding-top: 20px;
      font-style: italic;
    }
  }

  &_rrss {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 50px;

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      background-color: $secondary;
      border-radius: 50%;
      padding: 10px;

      svg {
        width: 20px;
        height: 20px;
      }

      img {
        width: 21px;
        height: 21px;
      }
    }

    &--text {
      p {
        font-size: .8rem;

        @include tablet {
          font-size: inherit;
        }
      }

      a {
        color: $primary;
        transition: $transition-menu;
        text-decoration: underline 2px $primary;
        transition: $transition-icon;

        &:hover {
          color: $black;
          text-decoration: underline 2px $secondary;
        }
      }
    }
  }

  &_item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &_right {
    background-color: $primary;
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 116px 0;

    &--name {
      color: $white;
      font-size: 1rem;
      margin: 0 auto;

      @include tablet {
        font-size: 1.5rem;
      }
    }

    &--position {
      background-color: $secondary;
      text-align: center;
      font-style: italic;
      color: $white;
      font-size: 1rem;
      padding: 20px 10px;

      @include tablet {
        font-size: 1.5rem;
      }

      @include desktop {
        padding: 20px 60px;
      }
    }
  }

  &_job {
    background-color: $white;
    padding: 30px;

    &--container {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      h2 {
        background-color: $primary;
        padding: 5px 30px;
        color: $white;
        font-weight: 400;
      }
    }

    &--education {
      padding: 20px 0 0 30px;

      span {
        font-size: 1.7rem;
        color: gray;
        font-style: italic;
      }

      p {
        font-size: 1.5rem;
        margin-top: 15px;
        line-height: 1.5;

        &:last-child {
          font-weight: bold;
          font-size: 1.3rem;
          line-height: inherit;
          margin-top: inherit;
          padding-bottom: 20px;
        }
      }
    }

    &--jobs {
      padding: 20px 0 0 30px;

      span {
        font-size: 1.7rem;
        color: gray;
        font-style: italic;

        &:nth-child(4) {
          font-size: 1.3rem;
          padding-top: 10px;
          line-height: 1.3;
        }
      }

      p {
        font-size: 1.5rem;
        padding-bottom: 20px;

        &:nth-child(2) {
          font-weight: bold;
          padding-bottom: inherit;
          margin-top: 15px;
          line-height: 1.5;
        }
      }

      a {
        color: $primary;

        &:hover {
          border-bottom: 2px solid $secondary;
        }
      }
    }
  }

  &_stack {
    padding: 30px 50px 0px 50px;

    h2 {
      font-size: 1.8rem;
      color: $white;
      padding-left: 20px;
    }
  }

  &_icons {
    display: flex;
    justify-content: space-evenly;

    &--items {
      padding: 0 10px;
      margin: 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &::after {
        content: '';
        border-right: 2px solid $background;
        width: 5px;
        height: 100%;
        position: absolute;
        left: -5px;
        top: 0;

        @include tablet {
          left: -20px;
        }
      }

      p {
        color: $white;
      }

      svg {
        @include tablet {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}