@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


/*fonts*/
$body-font: 'jost', serif;

/*colors*/
$primary: #242424;
$secondary: #FFBA31;
$background: #CBCBCB;
$white: #ffffff;
$black: #0000;

/*Transitions*/
$transition-menu: all ease-in-out .5s;
$transition-card: all ease-in-out .2s;